* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(gray,black);
    min-height: 100vh;
}

.container {
    border: 3px solid #333;
    border-radius: 4px;
    width: 450px;
    height: 550px;
}

.card__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}