<<<<<<< HEAD
/* PAGINA PRINCIPAL */



/* CARD */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(gray, black);
    min-height: 100vh;
}

.container {
    border: 3px solid #000;
    border-radius: 4px;
    width: 450px;
    height: 550px;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image_container {
    display: flex;
    justify-content: center;
}

.image_container__image {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
=======
/* PAGINA PRINCIPAL */



/* CARD */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(gray, black);
    min-height: 100vh;
}

.container {
    border: 3px solid #000;
    border-radius: 4px;
    width: 450px;
    height: 550px;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image_container {
    display: flex;
    justify-content: center;
}

.image_container__image {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 8b7fd841c74952bda555ec9cbac5cdfedb9a4929
